p {
  color: blue;
  background-color: yellow;
}
.b329 {
  color: blue;
}
#b325 {
  border: 1px solid green;
}
.b326 {
  border: 1px solid green;
}
div {
  font-weight: bold;
}
html {
  margin-right: 1000px;
}
