<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<p>Peer to Peer Chat program</p>

<p th:text="${error}"></p>

<form method="post" action="/updateuser">
  <span>Username: </span>
  <input type="text"  name="user" th:placeholder="${user[0].chatUserName}"></input>
  <button type="submit">update</button>
</form>

<ul th:each="message: ${msg}">

    <li th:text="${message.getChatUserName()}"/>
    <span th:text="${message.getText()}"></span>

</ul>


<form method="post" action="/addmessage">
  <input type="text"  name="newMessage" ></input>
  <button type="submit">send</button>
</form>

</body>
</html>