<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Action history</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<ul>
  <li>
    <a href="/">Start</a>
  </li>

  <li>
    <a href="information.html">Information</a>
  </li>

  <li>
    <a href="nutritionStore.html">Nutrition store</a>
  </li>

  <li>
    <a href="trickcenter.html">Trick Center</a>
  </li>

</ul>

<h1>Action History</h1>
<p th:if="${list.getHistoryList().size() == 0} == true"> No actions performed yet.</p>
<p th:each="history: ${list.getHistoryList()}">
  <span th:text="${history}"> eszement </span>
</p>


</body>
</html>