<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<ul>
  <li>
    <a href="/">Start</a>
  </li>

  <li>
    <a href="information.html">Information</a>
  </li>

  <li>
    <a href="nutritionStore.html">Nutrition store</a>
  </li>

  <li>
    <a href="trickcenter.html">Trick Center</a>
  </li>

  <li>
    <a href="history.html">Action history</a>
  </li>
</ul>

<img  src="greenfox.png" alt="foxImage"></img>



</body>
</html>