<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<ul>
  <li>
    <a href="/">Start</a>
  </li>

  <li>
    <a href="information.html">Information</a>
  </li>

  <li>
    <a href="nutritionStore.html">Nutrition store</a>
  </li>

  <li>
    <a href="trickcenter.html">Trick Center</a>
  </li>
</ul>
<img  src="greenfox.png" alt="foxImage"></img>

<p th:text="'This is Mr. ' + ${Fox.getName()} + '. Currently living on ' + ${Fox.getFood()} + ' and ' + ${Fox.getDrink()} + '.' + ' He knows ' + ${Fox.getTrickList().size()} + ' tricks.'" >Intro</p>

<h1>Known Tricks</h1>
<p th:if="${Fox.getTrickList().size() == 0} == true"> You know no tricks, yet. Go and learn some.</p>
<p th:each="tricks: ${Fox.getTrickList()}">
  <span th:text="${tricks}"> eszement </span>
</p>

</body>
</html>