<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nutrition</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<ul>
  <li>
    <a href="/">Start</a>
  </li>

  <li>
    <a href="information.html">Information</a>
  </li>

  <li>
    <a href="nutritionStore.html">Nutrition store</a>
  </li>

  <li>
    <a href="trickcenter.html">Trick Center</a>
  </li>

  <li>
    <a href="history.html">Action history</a>
  </li>
</ul>

<form method="post" action="/addFood">
  <input type="text"  name="newFood" placeholder="newfood"></input>
  <button type="submit">add</button>
</form>

<form method="post" action="/addDrink">
  <input type="text"  name="newDrink" placeholder="newdrink"></input>
  <button type="submit">add</button>
</form>



<form method="post" action="/changeNutrition">
  <span>Food</span>
  <select name="another_food">
    <option th:each="listitem : ${list.getFoodList()}"
            th:value="${listitem}"
            th:text="${listitem}">
    </option>
  </select>
  <span>Drink</span>
  <select name="another_drink">
    <option th:each="listitem : ${list.getDrinkList()}"
            th:value="${listitem}"
            th:text="${listitem}">
    </option>
  </select>
  <input type="submit" value="change"/>
</form>


</body>
</html>