<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<ul>
  <li>
    <a href="/">Start</a>
  </li>

  <li>
    <a href="information.html">Information</a>
  </li>

  <li>
    <a href="nutritionStore.html">Nutrition store</a>
  </li>

  <li>
    <a href="trickcenter.html">Trick Center</a>
  </li>
</ul>


<form method="post" action="/addTrick">
  <input type="text"  name="newTrick" placeholder="newtrick"></input>
  <button type="submit">add</button>
</form>

<span th:if="${list.getTrickList().size()} == 0">No tricks to learn</span>
<span th:unless="${list.getTrickList().size()} == 0">
  <form method="post" action="/learnTrick">
    <span >Tricks</span>
    <select name="another_trick">
      <option th:each="listitem : ${list.getTrickList()}"
              th:value="${listitem}"
              th:text="${listitem}">
      </option>
    </select>
    <input type="submit" value="learn"/>
  </form>
</span>

<h1>Known Tricks</h1>
<p th:if="${Fox.getTrickList().size() == 0} == true"> You know no tricks, yet. Go and learn some.</p>
<p th:each="tricks: ${Fox.getTrickList()}">
  <span th:text="${tricks}"> eszement </span>
</p>


</body>
</html>